<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/home.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffc40d">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="theme-color" content="#ffffff">
        <script language="JavaScript">
            function toggle(source) {
                checkboxes = document.getElementsByName("boroughs");
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                    checkboxes[i].checked = source.checked;
                }
            }
        </script>
    </head>
    <body>
        <div class="title">
            <h1>
                London Library Search
            </h1>
        </div>
        <div class="search_form">
            <form action="http://localhost:5000/search" method="post">
                <div>
                    <input type="text" placeholder="Search books..." name="query" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="select_all_div">
                    <input type="checkbox" class="checkbox" id="select_all" ,="" onclick="toggle(this)" />
                    <label for="select_all"> Select All</label>
                </div>
                <div class="borough_checkbox_container">
                    <ul>
                    {% for borough in boroughs %}
                        <li>
                            <div class="borough_checkbox_div">
                                <input type="checkbox" class="checkbox borough_checkbox" id="{{borough.lower().replace(' ', '_')}}" name="boroughs" value="{{borough}}">
                                <label class="borough_label" for="{{borough.lower().replace(' ', '_')}}"> {{borough}}</label>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </body>
</html>
